parameters:
	level: 9
	paths:
		- packages/contracts/src
		- packages/env-vars-manager/src
		- packages/projects/src
		- packages/console/src
		- tests
includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon